<h1><%= @product.name %></h1>

<ul>
  <li>category: <%=@product.categories%> (still not solved in db)</li>
  <li>kcal per 100g: <%= @product.energy_kcal_100g %></li>
  <li>url: <%= @product.url %></li>
</ul>

<p><%= link_to "Add to cart", add_path(id: @product.id)%></p>

