<!DOCTYPE html>
<html>
  <head>
    <title>CommerceStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- <header><%= link_to "Home", root_path %> <%= link_to "Cart", cart_path %></header> -->



  <body>
    <div class="myheader">
      <%= link_to "Home", root_path %> <%= link_to "Cart", cart_path %>
    </div>
    <div class="mycontent">
       <%= yield %>
    </div>


  </body>
</html>
